$white: #fff;
$grey: #F0F0F0;
$vinous: #771533;
$black: #000000; 
$brown: #4E494A;
$light-brown: #40403F;
$light-grey: rgba(255, 255, 255, 0.70);
$dark-grey: #171111;
// this project was created by Otabek Ortikov