@media screen and (max-width: 768px) {
    .header-nav {
        position: relative;
        &__menu {
            position: absolute;
            right: 0;
            top: 80%;

            @include flex-box(column, space-between, center);

            &-item {
                margin: 10px 0;
            }
        }
        &__burger {
            @include flex-box(column, space-between, center);
        }
    }
}