@media screen and (max-width: 768px) {
    .header-nav {
        position: relative;
        &__menu {
            display: none;
            position: absolute;
            right: 20%;
            top: 80%;
            margin: 0;

            &-item {
                margin: 15px 0;
                
                // &:hover::before {
                //     width: 0;
                // }
            }
        }
        &__burger {
            @include flex-box(column, space-between, center);
        }
    }
}