@media screen and (max-width: 768px) {
    .header {
        background-position: 20%;
        &-top {
            &__nav {
                justify-content: space-between;
                &-logo {
                    margin-right: 0;
                }
                &-menu {
                    display: none;
                }
                &-burger {
                    display: block;
                }
            }
        }
        &-container {
            padding: 0;
            max-width: 332px;
        }
    }
}


@media screen and (max-width: 480px) {
    .header {
        &-container {
            margin: 0 auto;
        }
    }
}