@media screen and (max-width: 480px) {
    .main {
        &-container {
            &__articles {
                flex-wrap: wrap;
                &-block {
                    max-width: 100%;
                    margin-bottom: 24px;
                }
            }
        } 
    }
}