@import 'kit/fonts';
@import 'kit/variables';
@import 'kit/mixins';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}

@import 'header.scss';

@import 'main.scss';

@import 'footer.scss';

@import 'mobile.scss';

@keyframes zoom-rotate {
    from {
        transform: rotateY(0) scale(1);
    }
    25% {
        transform: rotateY(0) scale(1);
    }
    50% {
        transform: rotateY(180deg) scale(1.2);
    }
    75% {
        transform: rotateY(180deg) scale(1.2);
    }
    to {
        transform: rotateY(360deg) scale(1);
    }
}