@font-face {
  font-family: 'Oswald', sans-serif;
  src: url("../../assets/fonts/Oswald-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Oswald', sans-serif;
  src: url("../../assets/fonts/Oswald-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Oswald', sans-serif;
  src: url("../../assets/fonts/Oswald-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Oswald', sans-serif;
  src: url("../../assets/fonts/Oswald-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Oswald', sans-serif;
  src: url("../../assets/fonts/Oswald-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Oswald', sans-serif;
  src: url("../../assets/fonts/Oswald-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Source Sans Pro', sans-serif;
  src: url("../../assets/fonts/SourceSansPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Source Sans Pro', sans-serif;
  src: url("../../assets/fonts/SourceSansPro-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Source Sans Pro', sans-serif;
  src: url("../../assets/fonts/SourceSansPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
.footer-container__infoblock-address, .footer-container__infoblock-email, .footer-container__copyright {
  color: rgba(255, 255, 255, 0.4);
  font-size: 16px;
  margin: 0;
  margin-bottom: 30px;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
}

html,
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/header-bg.jpg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav {
  padding: 45px 0 0;
  max-width: 651px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-nav__menu {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-nav__menu-item {
  margin: 0 15px;
  position: relative;
  border-bottom: 2px solid transparent;
  padding-bottom: 10px;
}
.header-nav__menu-item-link {
  font-size: 14px;
  letter-spacing: 2.8px;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}
.header-nav__menu-item::before {
  content: '';
  width: 0;
  height: 2px;
  background-color: #fff;
  position: absolute;
  bottom: -10px;
  left: 0;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
.header-nav__menu-item:hover {
  border-bottom: 2px solid #fff;
}
.header-nav__logo {
  letter-spacing: 2px;
  font-size: 20px;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 600;
}
.header-nav__burger {
  width: 25px;
  height: auto;
  display: none;
}
.header-nav__burger div {
  width: 100%;
  height: 3px;
  background-color: #fff;
  margin: 3px 0;
}

.header-main {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-main__container {
  max-width: 430px;
  width: 100%;
  height: auto;
  margin: auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-main__container-img {
  width: 63px;
  height: 63px;
  margin-bottom: 15px;
  -webkit-animation-name: rotate-zoom;
          animation-name: rotate-zoom;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
.header-main__container-title {
  color: #fff;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  margin: 0 0 42px 0;
}
.header-main__container-p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 24px;
  margin: 0;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.main-container {
  max-width: 80%;
  margin: 0 auto;
  padding: 70px 0 100px;
}
.main-container__title {
  color: #464547;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  margin: 0 0 40px;
  text-align: center;
}
.main-container__p {
  color: #666;
  font-size: 24px;
  margin: 0 0 45px;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
}
.main-container__articles {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.main-container__articles-block {
  max-width: 50%;
  color: #666;
  font-size: 16px;
  padding-right: 40px;
  margin-bottom: 45px;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
}
.main-container__link {
  margin: 0;
  text-align: center;
  position: relative;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}
.main-container__link-btn {
  text-transform: uppercase;
  color: #fff;
  background-color: #55C2D8;
  padding: 8px 18px;
  border-radius: 18px;
  font-size: 14px;
  letter-spacing: 1.4px;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  border: 2px solid #55C2D8;
}
.main-container__link-btn:hover {
  background-color: #fff;
  color: #55C2D8;
}

.learn {
  width: 100%;
  height: auto;
  color: #fff;
  padding: 80px 0;
  background-image: url("../../assets/learn-more-image.jpg");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.learn-container {
  height: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.learn-container__title {
  margin: 0 0 65px;
  font-size: 48px;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 700;
}
.learn-container__btn {
  margin: 0 0 45px;
  text-align: center;
}
.learn-container__btn-link {
  padding: 35px 45px;
  display: block;
  background-color: #55C2D8;
  font-size: 50px;
  border-radius: 50%;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
.learn-container__btn:hover a {
  background-color: #fff;
  color: #55C2D8;
}
.learn-container__p {
  font-size: 24px;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.footer {
  width: 100%;
  height: auto;
  background-color: #464547;
  padding: 40px 0 70px;
}
.footer-container {
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 0 150px;
}
.footer-container__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.footer-container__logo img {
  width: 20px;
  height: 20px;
}
.footer-container__logo p {
  font-size: 18px;
  letter-spacing: 3.6px;
  margin: 0;
  color: #fff;
  text-transform: uppercase;
  margin-left: 15px;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
}
.footer-container__infoblock-email:hover {
  color: #fff;
}
.footer-container__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

@media screen and (max-width: 768px) {
  .header-nav {
    position: relative;
  }
  .header-nav__menu {
    display: none;
    position: absolute;
    right: 20%;
    top: 80%;
    margin: 0;
  }
  .header-nav__menu-item {
    margin: 15px 0;
  }
  .header-nav__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (max-width: 480px) {
  .main-container__articles {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main-container__articles-block {
    max-width: 100%;
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 480px) {
  .footer {
    padding: 56px 0 75px;
  }
  .footer-container {
    grid-template-columns: auto;
    row-gap: 30px;
    text-align: center;
    margin: 0;
  }
  .footer-container__infoblock-email {
    margin-bottom: 0;
  }
  .footer-container__logo, .footer-container__copyright {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }
}
@-webkit-keyframes rotate-zoom {
  from {
    -webkit-transform: rotateY(0) scale(1);
            transform: rotateY(0) scale(1);
  }
  25% {
    -webkit-transform: rotateY(0) scale(1);
            transform: rotateY(0) scale(1);
  }
  50% {
    -webkit-transform: rotateY(180deg) scale(1.4);
            transform: rotateY(180deg) scale(1.4);
  }
  75% {
    -webkit-transform: rotateY(180deg) scale(1.4);
            transform: rotateY(180deg) scale(1.4);
  }
  to {
    -webkit-transform: rotateY(360deg) scale(1);
            transform: rotateY(360deg) scale(1);
  }
}
@keyframes rotate-zoom {
  from {
    -webkit-transform: rotateY(0) scale(1);
            transform: rotateY(0) scale(1);
  }
  25% {
    -webkit-transform: rotateY(0) scale(1);
            transform: rotateY(0) scale(1);
  }
  50% {
    -webkit-transform: rotateY(180deg) scale(1.4);
            transform: rotateY(180deg) scale(1.4);
  }
  75% {
    -webkit-transform: rotateY(180deg) scale(1.4);
            transform: rotateY(180deg) scale(1.4);
  }
  to {
    -webkit-transform: rotateY(360deg) scale(1);
            transform: rotateY(360deg) scale(1);
  }
}
/*# sourceMappingURL=styles.css.map */